@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Victor+Mono:ital,wght@1,100&display=swap');

body{
  background-image: url(/img/background.webp);
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 100vh;
}

.container {
  color: black;
  background-image: url(/img/8958988.ai.png);
  background-size: cover; /* Ajustar la imagen sin recortarla */
  background-repeat: no-repeat;
  background-position: center center; /* Centrar la imagen */
  margin: 67px;
  padding: 150px;
  
  text-align: center;
  font-size: 15px;
}

button{
    padding: 7px;
    background-color: #FE9EEE;
    color: white;
  }
  button:hover{
    padding: 9px;
  }
