body {
    background-image: url(/img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    max-width: 900px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 110px;
    font-size: 10px;
    display: grid;
    place-items: center; /* Centra verticalmente el contenido */
    text-align: center;
  }
  
  label {
    color: white;
    font-size: 13px;
  }
  
  footer {
    color: white;
  }
  
  button{
    padding: 9px;
    background-color: #FE9EEE;
    color: white;
  }
  button:hover{
    padding: 12px;
  }