/* IMPORTAMOS FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Bungee";
}

body {
  margin: 0;
  padding: 0;
  background: url(/img/1x/holi.png), linear-gradient(to bottom right, #ffb4d4, #a6c5f4);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.container {
 
  padding-top:60px;
  margin: 9px;
}

/* .container label {
  color: rgba(0, 0, 0, 0.658);
  font-size: 20px;
} */

/* Estilos para el elemento <p> con la clase .escribeme */
.escribeme {
  width: 700px;
  margin: 10px auto; /* Auto para centrar horizontalmente */
  background-color: antiquewhite;
  text-align: center; /* Centra el contenido del elemento */
}

.escribeme p {
  padding: 10px;
  font-size: 60px;
}

footer {
  color: white;
}

.container button {
  padding: 9px;
  margin-left: 80px;
  background-color: #FE9EEE;
  color: white;
}

button:hover {
  padding: 9px;
}
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background: url(/img/1x/holi-tablet.png), linear-gradient(to bottom right, #ffb4d4, #a6c5f4);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }

  @media  (max-width: 425px) {
    body {
      margin: 0;
      padding: 0;
      background: url(/img/1x/holi-celular.png), linear-gradient(to bottom right, #ffb4d4, #a6c5f4);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      overflow: hidden;
    }
    
  }
}