 /* IMPORTAMOS FUENTE*/
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


 *{
     margin: 0;
     padding: 0;
     
     font-family: 'Press Start 2P';
     /*font-size: 15px;*/
 
 }
 

 .header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 10px 100px;
     background-color: #4F3BFD;
     
     /* Aquí puedes ajustar los valores según */
    }

 .navbar a {
     font-size: 15px;
     color: white;
     text-decoration: none; /*sin línea*/
     margin-left: 40px;
    
     
 
 }
 .navbar a:hover{
     font-size: 16px;
     color:#FF549E;
     text-decoration: none; /*sin línea*/
     margin-left: 40px;
 }
 a{
     color: white;
     text-decoration: none;
     
     
 }
 .link-no-blue{
     color:white;
     text-decoration: none;
     margin-right: 20px; /*separa los icons entre sí */
     justify-content: right;
 }
 
 .icons-container{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-grow: 1;
    
 }

#inicio_{
    color: #FFE20A;
}
